<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Sukurti Siuntimą</title>
    <link ref="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Sukurti Siuntimą</h1>
<form action="doctor-home" method="GET">
    <label for="patientName">Paciento Vardas:</label>
    <input type="text" id="patientName" name="patientName"><br><br>

    <label for="procedure">Procedūra:</label>
    <input type="text" id="procedure" name="procedure"><br><br>

    <label for="reason">Siuntimo Priežastis:</label>
    <textarea id="reason" name="reason"></textarea><br><br>

    <label for="date">Siuntimo Data:</label>
    <input type="date" id="date" name="date"><br><br>

    <button type="submit">Sukurti Siuntimą</button>
</form>
<br>
<a href="doctor-home">Atgal į Gydytojo Pagrindinį Langą</a>
</body>
</html>
