<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Sukurti Procedūros Ataskaitą</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Sukurti Procedūros Ataskaitą</h1>

<!-- Display Procedūra and Gydytojas information -->
<div class="info-box">
    <p><strong>Procedūra:</strong> Kardiologinė konsultacija</p>
    <p><strong>Gydytojas:</strong> Petras Petraitis</p>
</div>

<form action="view-single-reservation" method="GET">
    <!-- Siuntimas fields -->
    <h2>Atliktos procedūros Informacija</h2>

    <label for="creationDate">Paciento vardas:</label>
    <input type="text" id="creationDate" name="creationDate"><br><br>

    <label for="Date">Data:</label>
    <input type="date" id="Date" name="Date"><br><br>

    <label for="doctorNotes">Gydytojo pastabos:</label>
    <textarea id="doctorNotes" name="doctorNotes"></textarea><br><br>

    <button type="submit">Sukurti Procedūros ataskaitą</button>
</form>

<br>
<a href="view-single-reservation">Atgal į Rezervacijos Peržiūros Langą</a>
</body>
</html>