<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Gydytojo Pagrindinis Langas</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
<!--    <style>-->
<!--        body { font-family: Arial, sans-serif; }-->
<!--        .container { max-width: 600px; margin: 0 auto; padding: 20px; }-->
<!--        h2 { text-align: center; }-->
<!--        .nav-link { margin: 15px 0; padding: 15px; display: block; text-align: center; background-color: #f4f4f4; border: 1px solid #ccc; text-decoration: none; color: #333; }-->
<!--        .nav-link:hover { background-color: #ddd; }-->
<!--    </style>-->
</head>
<body>
<div class="container">
    <h1>Gydytojo Pagrindinis Langas</h1>
    <a href="doctor-view-procedure-reports" class="nav-link">Peržiūrėti Procedūrų Ataskaitas</a>
    <a href="schedule" class="nav-link">Tvarkaraštis</a>
    <a href="create-referral" class="nav-link">Sukurti Siuntimą</a>
    <a href="view-patients" class="nav-link">Peržiūrėti Pacientus</a>
    <a href="logout" class="nav-link">Atsijungti</a>
</div>
</body>
</html>
