<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Pacientų Peržiūra</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h1>Pacientų Peržiūra</h1>
    <table>
        <thead>
        <tr>
            <th>Paciento ID</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Peržiūrėti</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Jonas</td>
            <td>Jonaitis</td>
            <td><a href="view-single-patient?patientId=1">Peržiūrėti</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Petras</td>
            <td>Petraitis</td>
            <td><a href="view-single-patient?patientId=2">Peržiūrėti</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ona</td>
            <td>Onaitytė</td>
            <td><a href="view-single-patient?patientId=3">Peržiūrėti</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="doctor-home" class="nav-link">Atgal į Gydytojo Pagrindinį Langą</a>
</div>
</body>
</html>
