<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Rezervacijos Ataskaita</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h2>Rezervacijos Ataskaita</h2>
    <p><strong>Data:</strong> 2023-05-01</p>
    <p><strong>Laikas:</strong> 16:00 </p>
    <p><strong>Trukmė:</strong> 30min.</p>
    <p><strong>Pastabos:</strong> Normali širdies veikla, rekomenduojama stebėti reguliariai.</p>
    <p><strong>Gydytojas:</strong> dr. Jonas Jonaitis</p>
    <p><strong>Procedūra:</strong> Išsami širdies veiklos analizė naudojant elektrokardiogramą.</p>
    <br>
    <a href="schedule" class="nav-link">Grįžti į Tvarkaraštį</a>
    <a href="create-procedure-report" class="nav-link">Sukurti Procedūros ataskaitą</a>
</div>
</body>
</html>
