<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Procedūrų Ataskaitos</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h1>Procedūrų Ataskaitos</h1>
    <table>
        <thead>
        <tr>
            <th>Ataskaita ID</th>
            <th>Paciento Vardas</th>
            <th>Procedūra</th>
            <th>Data</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Jonas Jonaitis</td>
            <td>Širdies EKG</td>
            <td>2024-11-01</td>
            <td><a href="edit-procedure-report">Redaguoti</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Petras Petraitis</td>
            <td>Kraujo tyrimas</td>
            <td>2024-10-15</td>
            <td><a href="edit-procedure-report">Redaguoti</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ana Anaitė</td>
            <td>Rentgenas</td>
            <td>2024-09-20</td>
            <td><a href="edit-procedure-report">Redaguoti</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="doctor-home" class="nav-link">Atgal į Gydytojo Pagrindinį Langą</a>
</div>
</body>
</html>
