<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Pacientų Peržiūra</title>
    <link ref="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Pacientų Peržiūra</h1>
<p>Pacientas 1 - <a href="view-single-patient">Peržiūrėti</a></p>
<p>Pacientas 2 - <a href="view-single-patient">Peržiūrėti</a></p>
<p>Pacientas 3 - <a href="view-single-patient">Peržiūrėti</a></p>
<br>
<a href="doctor-home">Atgal į Gydytojo Pagrindinį Langą</a>
</body>
</html>
