<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Procedūrų Ataskaitos</title>
    <link ref="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Procedūrų Ataskaitos</h1>
<p>Ataskaita 1 - <a href="edit-procedure-report">Redaguoti</a></p>
<p>Ataskaita 2 - <a href="edit-procedure-report">Redaguoti</a></p>
<p>Ataskaita 3 - <a href="edit-procedure-report">Redaguoti</a></p>
<br>
<a href="doctor-home">Atgal į Gydytojo Pagrindinį Langą</a>
</body>
</html>
