<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <title>Peržiūrėti Procedūrų Ataskaitas</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h2>Procedūrų Ataskaitos</h2>
    <ul>
        <li><a href="view-single-procedure-report">Procedūra #1</a></li>
        <li><a href="view-single-procedure-report">Procedūra #2</a></li>
    </ul>
    <a href="patient-home" class="nav-link">Grįžti į Pagrindinį</a>
</div>
</body>
</html>
