<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <title>Peržiūrėti Gydytojus</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h2>Gydytojų Sąrašas</h2>
    <ul>
        <li><a href="view-single-doctor">Gydytojas Jonas</a></li>
        <li><a href="view-single-doctor">Gydytojas Petras</a></li>
        <li><a href="view-single-doctor">Gydytojas Ona</a></li>
    </ul>
    <a href="patient-home" class="nav-link">Grįžti į Pagrindinį</a>
</div>
</body>
</html>
