<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Procedūros Ataskaita</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<div class="container">
    <h2>Procedūros Ataskaita</h2>
    <p><strong>Procedūros Pavadinimas:</strong> Širdies EKG</p>
    <p><strong>Atlikimo Data:</strong> 2023-05-01</p>
    <p><strong>Atliko Gydytojas:</strong> Dr. Jonas Jonaitis</p>
    <p><strong>Procedūros Aprašymas:</strong> Išsami širdies veiklos analizė naudojant elektrokardiogramą.</p>
    <p><strong>Paciento Nusiskundimai:</strong> Širdies ritmo sutrikimai ir dažnas dusulys.</p>
    <p><strong>Išvados:</strong> Normali širdies veikla, rekomenduojama stebėti reguliariai.</p>
    <p><strong>Širdies Ritmas:</strong> 72 kartai per minutę</p>
    <p><strong>Temperatūra:</strong> 36.6°C</p>
    <br>
    <a href="patient-view-procedure-reports" class="nav-link">Grįžti į Ataskaitas</a>
</div>
</body>
</html>
