<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Prisijungimo langas</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>

<div class="container">
    <h2>Prisijungimas</h2>
    <form action="main" method="GET">
        <div class="input-group">
            <label for="username">Vartotojo vardas</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="input-group">
            <label for="password">Slaptažodis</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Prisijungti</button>
    </form>
    <a href="recover-password">Pamiršote slaptažodį?</a>
</div>

</body>
</html>
