<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedūros Sukūrimo Langas</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Procedūros Sukūrimo Langas</h1>

<form action="view-procedures" method="GET">
    <label for="procedureName">Procedūros Pavadinimas:</label>
    <input type="text" id="procedureName" name="procedureName"><br><br>

    <label for="procedureDescription">Aprašymas:</label>
    <textarea id="procedureDescription" name="procedureDescription"></textarea><br><br>

    <label for="procedureDuration">Maksimali Trukmė (minutėmis):</label>
    <input type="number" id="procedureDuration" name="procedureDuration" min="1"><br><br>

    <button type="submit">Pridėti Procedūrą</button>
</form>

<br>
<a th:href="@{/view-procedures}">Grįžti į Procedūrų Peržiūros Langą</a>
</body>
</html>
