<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedūros Redagavimo Langas</title>
    <link ref="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Procedūros Redagavimo Langas</h1>
<form action="view-procedures" method="GET">
    <label for="procedureId">Procedūros ID:</label>
    <input type="text" id="procedureId" name="procedureId"><br><br>

    <label for="procedureName">Procedūros Pavadinimas:</label>
    <input type="text" id="procedureName" name="procedureName" value="Esama Pavadinimas"><br><br>

    <label for="procedureDescription">Aprašymas:</label>
    <textarea id="procedureDescription" name="procedureDescription">Esamas Aprašymas</textarea><br><br>

    <button type="submit">Atnaujinti Procedūrą</button>
</form>

<br>
<a th:href="@{/view-procedures}">Grįžti į Procedūrų Peržiūros Langą</a>
</body>
</html>
