<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vartotojų Peržiūra</title>
    <link ref="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Vartotojų Peržiūra</h1>
<table>
    <thead>
    <tr>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Veiksmai</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Jonas</td>
        <td>Jonaitis</td>
        <td>
            <a href="edit-patient">Redaguoti</a>
            <a href="confirm-delete-user">Ištrinti</a>
        </td>
    </tr>
    <tr>
        <td>Petras</td>
        <td>Petraitis</td>
        <td>
            <a href="edit-patient">Redaguoti</a>
            <a href="confirm-delete-user">Ištrinti</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="create-patient">Sukurti Naują Pacientą</a>
<a href="admin-home">Atgal į pagrindinį</a>
</body>
</html>
