<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedūrų Peržiūros Langas</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>
<body>
<h1>Procedūrų Peržiūros Langas</h1>

<a th:href="@{/create-procedure}">Pridėti Naują Procedūrą</a>

<table>
    <thead>
    <tr>
        <th>Procedūros Pavadinimas</th>
        <th>Aprašymas</th>
        <th>Maksimali Trukmė (minutėmis)</th>
        <th>Veiksmai</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Kardiologinis Tyrimas</td>
        <td>Širdies sveikatos patikra ir EKG tyrimas.</td>
        <td>45</td>
        <td>
            <a th:href="@{/edit-procedure}">Redaguoti</a>
            <a th:href="@{/confirm-delete-procedure}">Ištrinti</a>
        </td>
    </tr>
    <tr>
        <td>Chirurginis Konsultavimas</td>
        <td>Paciento paruošimas operacijai ir konsultacija dėl chirurginio gydymo.</td>
        <td>30</td>
        <td>
            <a th:href="@{/edit-procedure}">Redaguoti</a>
            <a th:href="@{/confirm-delete-procedure}">Ištrinti</a>
        </td>
    </tr>
    <tr>
        <td>Laboratorinis Kraujo Tyrimas</td>
        <td>Bendro kraujo tyrimo atlikimas ir analizė.</td>
        <td>15</td>
        <td>
            <a th:href="@{/edit-procedure}">Redaguoti</a>
            <a th:href="@{/confirm-delete-procedure}">Ištrinti</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/admin-home}">Grįžti į pagrindinį langą</a>
</body>
</html>
